<div class="modal fade" id="add-to-log" tabindex="-1" role="dialog" aria-labelledby="add-to-log-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/add_to_log/" method="POST">
        <div class="modal-header">
            <select name="log_dropdown">
              {% for log in logs %}
              <option value="{{ log.name }}">{{ log.name }} - {{ log.date }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <label for="workout">Workout Name:</label>
          <input type="text" name="workout" id="existing-log-workout" />
          <label for="sets">Sets:</label>
          <input type="text" name="sets" id="existing-log-sets" />
          <label for="reps">Reps Per Set:</label>
          <input type="text" name="reps" id="existing-log-reps" />
        </div>
        <table class="last-workouts">
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" name="submit" value="Add To Log" />
        </div>
      </form>
    </div>
  </div>
</div>
