div.parallax {
    height: 900px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opacity {
    background-color:hsla(0,100%,0%,0.7);
    height: 900px;
}

.info {
    height: 900px;
}

@media (max-width:766px) {
    .nav-bar {
        position: relative;
        top: 20px;
        width: 160px;
        margin: 0 0 0 -20%;
        left: 80%;
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu li a:hover {
        color: hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav .open .dropdown-menu li a:active {
        color: hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus {
        color: hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav li a {
        margin-bottom: -3px;
    }

    .navbar-default .navbar-nav li a:hover {
        color: hsla(280,96%,28%,1);
        border-bottom: 0px solid white;
    }

    .navbar-default .navbar-nav li a.active {
        color: hsla(280,96%,28%,1);
        border-bottom: 0px solid white;
    }
}

@media (min-width:767px) {
    .nav-bar {
        position: relative;
        top: 20px;
        width: 150px;
        margin: 0 0 0 -15%;
        left: 100%;
        color: white;
    }

    .navbar-default .navbar-nav li a {
        margin-bottom: -4px;
        color: hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav li a:hover {
       color: hsla(280,96%,28%,1);
       border-bottom: 2px solid hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav li a.active {
       color: hsla(280,96%,28%,1);
       border-bottom: 2px solid hsla(280,96%,28%,1);
    }

    .navbar-default .navbar-nav .open .dropdown-menu li a:hover {
        color: hsla(280,96%,28%,1);
        border-bottom: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu li a:active {
        color: hsla(280,96%,28%,1);
        border-bottom: 0;
    }
 }

.login {
    color: hsla(360,0%,100%,1);
    font-family: 'Montserrat', sans-serif;
}

.login:hover {
    -webkit-text-stroke: 0.3px hsla(0,100%,0%,1);
    color: hsla(66,3%,75%,0.75);
    text-decoration: none;
}

.create-log {
    color: hsla(360,0%,100%,1);
    text-decoration: none;
    margin: 5px;
}

.create-log:hover {
    -webkit-text-stroke: 0.3px hsla(0,100%,0%,1);
    color: hsla(66,3%,75%,0.75);
    text-decoration: none;
}

.btn-register {
    position: relative;
    bottom: 250px;
    width:30%;
    margin: 0 0 0 -40%;
    left:38%;
    background: rgba(285,90%,48%,1);
    background: -moz-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,12,230,1)), color-stop(100%, rgba(149,18,179,1)));
    background: -webkit-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -o-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: linear-gradient(to bottom, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    color: hsla(360,0%,100%,1);
    font-family: 'Montserrat', sans-serif;
    min-width: 100px;
}

.btn-register:hover {
    background: rgba(175,12,230,1);
    border: 1.5px solid rgba(149,18,179,1);
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

div.parallax h1 {
    color: white;
    font-size: 48px;
    line-height: 700px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

div.parallax-1 {
    background-image: url("../img/gym_stock.JPG");
}

/* Navbar */
@media (max-width:780px) {
}

.navbar-default {
    background-color: hsla(360,0%,100%,1);
    top: 0;
    -webkit-box-shadow: 0px 0px 2px 1px hsla(360,0%,0%,0.4);
       -moz-box-shadow: 0px 0px 2px 1px hsla(360,0%,0%,0.4);
            box-shadow: 0px 0px 2px 1px hsla(360,0%,0%,0.4);
    border-radius: 0;
}

#container {
    padding-top: 15px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: hsla(280,96%,28%,1);
    display: block;
    margin: 5px;
}

.logo:hover {
    color: hsla(280,96%,28%,0.7);
    text-decoration: none;
}

.nav-item {
    margin: 0 20px;
    padding: 10px;
}


.nav-logout:hover {
    padding: 10px;
    border-bottom: 3px solid hsla(280,96%,28%,0.3);
}

.nav-logs {
   float: right;
   padding: 10px;
}

.nav-logs:hover {
   float: right;
   padding: 10px;
   border-bottom: 3px solid hsla(280,96%,28%,0.3);
}

.nav-logs.active {
   float: right;
   padding: 10px;
   border-bottom: 3px solid hsla(280,96%,28%,0.3);
}

.nav-logs a {
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   text-decoration: none;
   color: hsla(280,96%,28%,1)
}

.links {
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   text-decoration: none;
}


.modal-footer-margin {
    margin-top: 15px;
}

.modal-button {
    background: rgba(285,90%,48%,1);
    background: -moz-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,12,230,1)), color-stop(100%, rgba(149,18,179,1)));
    background: -webkit-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -o-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    background: linear-gradient(to bottom, rgba(175,12,230,1) 0%, rgba(149,18,179,1) 100%);
    color: hsla(360,0%,100%,1);
    width: 100px;
}

.modal-button:hover {
    background: rgba(175,12,230,1);
    border: 1.5px solid rgba(149,18,179,1);
}

.log {
    border-bottom: 1px solid hsla(66,3%,75%,0.75);
    padding-bottom: 10px;
}

.log-name a {
    color: hsla(0,100%,0%,1);
    font-family: 'Montserrat', sans-serif;
}

.log-name a:hover {
    color: hsla(66,3%,35%,1);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.log-date {
    font-size: 12px;
    color: hsla(66,3%,25%,0.75);
}

.your-logs {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Detail Template */

.workouts {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.workout {
    border-bottom: 1px solid hsla(66,3%,75%,0.75);
    padding-bottom: 10px;
}

.workout-name {
    color: hsla(0,100%,0%,1);
    font-family: 'Montserrat', sans-serif;
}

.workout-name-input {
    margin: 0 5px 0 40px;
}
.workout-reps {
    font-size: 15px;
}

.add-workout-btn {
    margin: 0 0 3px 5px;
    padding: 6px;
}

.workout-form {
    margin-top: 20px;
}

.workout-form .form-control {
    display: inline-block;
    width: 150px;
}
