{% extends 'logs/base.html' %}
{% block nav_bar %}
  <div class="top-nav">
    <div class="pull-left logo"><a href="{% url "index" %}">Workout Logger</a></div>
    <!-- <div class="nav-logout"><a href="{% url "logout" %}">Logout</a></div> -->
    <!-- <div class="nav-logs active"><a href="{% url "logs" %}">Logs</a></div> -->
  </div>
{% endblock %}
{% block body_block %}
  <div id="container">
    <h1>Login to Logs</h1>
    <form id="login_form" method="post" action="/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
  </div>
{% endblock %}
