{% extends "logs/internal_base.html" %}

{% block nav_bar %}
  <div class="top-nav">
    <div class="pull-left logo"><a href="{% url "index" %}">Workout Logger</a></div>
  </div>
{% endblock %}

{% block body_block %}
  <div id="container">
    <div class="modal-dialog">
      <div class="modal-content">
        {% if not user.is_authenticated %}
          <div class="modal-header">
            <h2 class="modal-title">Login</h2>
          </div>
        {% endif %}
        <div class="modal-body">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
          </div>
        {% endif %}
        {% if user.is_authenticated %}
          <h3>You're already signed in!</h3>
          <a href="{% url "logs" %}">Create a Log</a>
        {% else %}
          <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" name="username" value="" size="50" />
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" value="" size="50" />
            <div class="modal-footer modal-footer-margin">
              <input class="button modal-button" type="submit" name="submit" value="Login" />
            </div>
          </form>
          <a href="{% url "forgot_password" %}">Forgot Password?</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
