{% extends 'logs/base.html' %}

{% block nav_bar %}
  <div class="top-nav">
    <div class="pull-left logo"><a href="{% url "index" %}">Workout Logger</a></div>
    <div class="nav-logout"><a href="{% url "logout" %}">Logout</a></div>
    <div class="nav-logs active"><a href="{% url "logs" %}">Logs</a></div>
  </div>
{% endblock %}

{% block body_block %}
<div id="container">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="your-logs">Your Logs:</h3>
    <ul id="logs">
      {% for log in logs %}
        <li class="log"><a href="{% url 'detail' log.id %}">{{ log.name }} - {{ log.date }}</a></li>
      {% endfor %}
    </ul>
</div>

<!-- Modals -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-new-log">Create New Log</button>
  <div class="modal fade" id="create-new-log" tabindex="-1" role="dialog" aria-labelledby="create-new-log-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form action="/create_new_log/" method="POST">
            <div class="modal-header">
              <h4 class="modal-title"><input placeholder="Log Name" type="text" name="log" value="{{ log.name }}" /></h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              Workout Name:
              <input type="text" name="workout" value="{{ workout.name }}" />
              Reps:
              <input type="text" name="reps" value="{{ workout.reps }}" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input class="btn btn-primary" type="submit" name="submit" value="Create New Log" />
            </div>
        </form>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-to-log">Add to Existing Log</button>
  <div class="modal fade" id="add-to-log" tabindex="-1" role="dialog" aria-labelledby="add-to-log-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/add_to_log/" method="POST">
          <div class="modal-header">
              <select name="log_dropdown">
                {% for log in logs %}
                <option value="{{ log.name }}">{{ log.name }} - {{ log.date }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            Workout Name:
            <input type="text" name="workout" value="{{ workout.name }}" />
            Reps:
            <input type="text" name="reps" value="{{ workout.reps }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input class="btn btn-primary" type="submit" name="submit" value="Add To Log" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    {% endblock %}
