{% extends 'logs/internal_base.html' %}


{% block nav_logs %}
  <a class="active" href="{% url "logs" %}">Logs</a>
{% endblock %}

{% block body_block %}
  <div id="container">
    <h3 class="your-logs">Your Logs:</h3>
    <div class="col-md-8 col-md-offset-2">
        {% for log in logs %}
          <div class="log">
            <h3 class="log-name"><a href="{% url 'detail' log.id %}">{{ log.name }}</a></h3>
            <div class="log-date">{{ log.date }}</div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
